git+https://github.com/OpenVoiceOS/ovos-skill-alerts@dev
git+https://github.com/OpenVoiceOS/ovos-skill-application-launcher@dev
git+https://github.com/OpenVoiceOS/ovos-skill-audio-recording@dev
git+https://github.com/OpenVoiceOS/ovos-skill-boot-finished@dev
git+https://github.com/OpenVoiceOS/ovos-skill-camera@dev
git+https://github.com/OpenVoiceOS/ovos-skill-cmd@dev
git+https://github.com/OpenVoiceOS/ovos-skill-color-picker@dev
git+https://github.com/OpenVoiceOS/ovos-skill-confucius-quotes@dev
git+https://github.com/OpenVoiceOS/ovos-skill-count@dev
git+https://github.com/OpenVoiceOS/ovos-skill-date-time@dev
git+https://github.com/OpenVoiceOS/ovos-skill-days-in-history@dev
git+https://github.com/OpenVoiceOS/ovos-skill-diagnostics@dev
git+https://github.com/OpenVoiceOS/ovos-skill-dictation@dev
git+https://github.com/OpenVoiceOS/ovos-skill-fuster-quotes@dev
git+https://github.com/OpenVoiceOS/ovos-skill-icanhazdadjokes@dev
git+https://github.com/OpenVoiceOS/ovos-skill-ip@dev
git+https://github.com/OpenVoiceOS/ovos-skill-iss-location@dev
git+https://github.com/OpenVoiceOS/ovos-skill-laugh@dev
git+https://github.com/OpenVoiceOS/ovos-skill-mark1-ctrl@dev
git+https://github.com/OpenVoiceOS/ovos-skill-moviemaster@dev
git+https://github.com/OpenVoiceOS/ovos-skill-naptime@dev
git+https://github.com/OpenVoiceOS/ovos-skill-number-facts@dev
git+https://github.com/OpenVoiceOS/ovos-skill-parrot@dev
git+https://github.com/OpenVoiceOS/ovos-skill-randomness@dev
git+https://github.com/OpenVoiceOS/ovos-skill-screenshot@dev
git+https://github.com/OpenVoiceOS/ovos-skill-speedtest@dev
git+https://github.com/OpenVoiceOS/ovos-skill-spelling@dev
git+https://github.com/OpenVoiceOS/ovos-skill-volume@dev
git+https://github.com/OpenVoiceOS/ovos-skill-wallpapers@dev
git+https://github.com/OpenVoiceOS/ovos-skill-weather@dev
git+https://github.com/OpenVoiceOS/ovos-skill-wikihow@dev
git+https://github.com/OpenVoiceOS/ovos-skill-wikipedia@dev
git+https://github.com/OpenVoiceOS/ovos-skill-wolfie@dev
git+https://github.com/OpenVoiceOS/ovos-skill-word-of-the-day@dev
git+https://github.com/OpenVoiceOS/ovos-skill-wordnet@dev
